<!DOCTYPE html>
<html>

<head>
  <title>Abogado</title>
  <meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="stylesheets/materialize.css">
  <link rel="stylesheet" href="stylesheets/style.css">
  <link rel="stylesheet" href="stylesheets/materialize-stepper.min.css">
  <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
  <link rel="icon" href="img/favicon.ico" type="image/x-icon">
  <script src="/abogado/components/jquery/dist/jquery.min.js"></script>
  <script src="/abogado/components/angular/angular.min.js"></script>
  <script src="/abogado/components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="/abogado/components/angular-resource/angular-resource.min.js"></script>
  <script src="/abogado/components/materialize/dist/js/materialize.min.js"></script>
  <script src="/abogado/components/satellizer/dist/satellizer.min.js"></script>
  <script src="/abogado/components/angular-materialize/src/angular-materialize.js"></script>
  <script src="/abogado/components/angular-base64-upload/dist/angular-base64-upload.min.js"></script>
  <script src="/abogado/components/a0-angular-storage/dist/angular-storage.min.js"></script>
  <script src="/abogado/components/angular-mocks/angular-mocks.js"></script>
  <script src="/abogado/components/angular-file-upload/dist/angular-file-upload.min.js"></script>
  <script src="/abogado/components/angular-translate/angular-translate.min.js"></script>
  <script src="/abogado/components/moment/min/moment.min.js"></script>
  <script src="/abogado/components/angular-moment/angular-moment.js"></script>
  <script src="/abogado/components/angular-sanitize/angular-sanitize.min.js"></script>
  <script src="/abogado/components/simple-web-notification/web-notification.js"></script>
  <script src="/abogado/components/angular-web-notification/angular-web-notification.js"></script>
  <script src="/abogado/components/angular-i18n/angular-locale_es-ar.js"></script>

  <script src="/abogado/javascripts/materialize/materialize.js"></script>

  <script src="/abogado/javascripts/scripts/materialize-stepper.min.js"></script>
  <script src="/abogado/javascripts/app.js"></script>
  <script src="/abogado/javascripts/routers/abogado-router.js"></script>
  <script src="/abogado/javascripts/services/abogado.js"></script>

  <script src="/abogado/javascripts/controllers/main-controller.js"></script>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="http://code.responsivevoice.org/responsivevoice.js"></script>
</head>

<body ng-app="abogadoApp" class="container">
<div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Logo</a>

              <ul tabs reload="allTabContentLoaded">
                  <li class="tab col s3"><a ng-click="irAInicio()" href=''>Inicio</a></li>
                  <li class="tab col s3"><a ng-click="irAInformacion()" href=''>Informacion</a></li>
                  <li class="tab col s3"><a ng-click="irAContacto()" href=''>Contacto</a></li>
              </ul>

      </div>
    </nav>
  </div>
  <br/>
  <br/>
  <br/>

  <!--  <nav class="nav-center fill" >
          <div class="nav-wrapper container" style="width: 80%;">
            <ul id="main-menu" class="right hide-on-med-and-down">
              <li  class="link one"><a ui-sref="main">inicio</a></li>
              <li  class="link "><a ui-sref="seccion1">seccion 1</a></li>
              <li  class="link "><a ui-sref="seccion2">session 2</a></li>
            </ul>
          </div>
        </nav> -->
  <main ui-view>
  </main>
  <script type="text/javascript">
  $(document).ready(function() {
    $('ul.tabs').tabs();
  });
  </script>
</body>

</html>
